alias 7z='7zz'
alias archive='ua'
alias colours='for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done'
alias colourscript="colorscript"
alias cheat='cht.sh'
alias ls='ls -a'
alias neofetch="neofetch --kitty --source ~/.config/neofetch/doge.png" --size 25%
alias nf='neofetch'
alias nnn='nnn -H'
alias parrot='curl parrot.live'
alias rec="simplescreenrecorder"

# Git
alias gaf="git add --force"

# Python
alias venvon="source venv/bin/activate"
alias venvoff="deactivate"

# Quick Sourcing
alias s-zsh="source ~/.zshrc"

# Weather
alias weather="curl -s wttr.in/ | sed -n '1,7p'"
alias wtr="weather"
alias weathertoday="curl -s wttr.in | sed -n '1,17p'"
alias wtoday="weathertoday"
alias wtd="weathertoday"
alias weathertomorrow="curl -s wttr.in | sed -n '18,27p'"
alias wtomorrow="weathertomorrow"
alias wtmrw="weathertomorrow"

# First time setups
alias setup-vscode="sh ~/.config/startup/vscode_setup.sh"
alias setup-firefox="sh ~/.config/startup/firefox_setup.sh"
alias setup-gnome="sh ~/.config/startup/gnome_setup.sh"