# run configs
first-time-setup() {
	sh ~/.config/startup/vscode_setup.sh;
	wait;
    sh ~/.config/startup/firefox_setup.sh;
}

# make a backup of a file
# https://github.com/grml/grml-etc-core/blob/master/etc/zsh/zshrc
backup() {
	cp -a "$1" "${1}_$(date --iso-8601=seconds)"
}
# gets colour
colour() {
    perl -e 'foreach $a(@ARGV){print "\e[48:2::".join(":",unpack("C*",pack("H*",$a)))."m \e[49m "};print "\n"' "$@"
}
# edit config files
edit () {
    case $1 in
		"aliases")  	micro ~/.config/zsh/.aliases ;;
		"bspwm")    	micro ~/.config/bspwm/bspwmrc && \
						bspc wm -r ;;
		"functions")	micro ~/.config/zsh/.functions ;;
  		"kitty")    	micro ~/.config/kitty/kitty.conf ;;
   		"neofetch") 	micro ~/.config/neofetch/config.conf ;;
      	"picom")    	micro ~/.config/bspwm/picom.conf ;;
   		"polybar")  	micro ~/.config/polybar/config && \
                    	killall polybar && polybar mybar &;;
      	"sxhkd")		micro ~/.config/sxhkd/sxhkdrc && \
                    	pkill -USR1 -x sxhkd ;;
        "zsh")			micro ~/.zshrc && \
                		source ~/.zshrc ;;
    esac
}
# get public ip
function getip {
	local api
	case "$1" in
		"-4")
			api="http://v4.ipv6-test.com/api/myip.php"
			;;
		"-6")
			api="http://v6.ipv6-test.com/api/myip.php"
			;;
		*)
			api="http://ipv6-test.com/api/myip.php"
			;;
	esac
	curl -s "$api"
	echo # Newline.
}
# get hex value of symbol
hex() {
	echo "$@" | hexdump -C
}
pm() {
    sudo pacman -S "$@"
}
# open pdf
pdf() {
    firejail mupdf "$@"
}
# Create virtual environment
pymake ()
{
    python -m venv "${HOME}"/.venv/"$1"
}
# Delete virtual environment
pydel ()
{
    echo "WARNING: You will permanently delete the Python virtual environment $1. Are you sure? (Y/N)"
    read -r user_input
    if [â ${user_input} = 'y' ]; then
        rm  "${HOME}"/.venv/"$1" -r
    fi
}
# Activate virtual environment
pyon ()
{
    source "${HOME}"/.venv/"$1"/bin/activate
}
# Check list of virtual environments
pyls ()
{
    echo "List of Python virtual environments:"
    echo ${blue} > /dev/null
    ls "${HOME}"/.venv
    echo ${reset} > /dev/null
}
# rebuild aur packages that use python; pass the version you're rebuilding
pyrebuild() {
	pacman -Qoq /usr/lib/python"$@" | pacman -Qmq - | paru -S --rebuild -
}
# upload files
transfer() {
    curl -F"file=@"${@}"" https://ttm.sh;
}
# transfer files via syncthing
ltransfer() {
	cp "$@" ~/Sync;
}
# get weather; takes in location
get_weather() {
    curl wttr.in/"$@";
}