# make a backup of a file
# https://github.com/grml/grml-etc-core/blob/master/etc/zsh/zshrc
backup() {
	cp -a "$1" "${1}_$(date --iso-8601=seconds)"
}
# gets colour
colour() {
    perl -e 'foreach $a(@ARGV){print "\e[48:2::".join(":",unpack("C*",pack("H*",$a)))."m \e[49m "};print "\n"' "$@"
}
# get public ip
function getip {
	local api
	case "$1" in
		"-4")
			api="http://v4.ipv6-test.com/api/myip.php"
			;;
		"-6")
			api="http://v6.ipv6-test.com/api/myip.php"
			;;
		*)
			api="http://ipv6-test.com/api/myip.php"
			;;
	esac
	curl -s "$api"
	echo # Newline.
}
# get hex value of symbol
hex() {
	echo "$@" | hexdump -C
}
pm() {
    sudo pacman "$@"
}
# open pdf
pdf() {
    firejail mupdf "$@"
}
# rebuild aur packages that use python; pass the version you're rebuilding
pyrebuild() {
	pacman -Qoq /usr/lib/python"$@" | pacman -Qmq - | paru -S --rebuild -
}
# upload files
transfer() {
    curl -F"file=@"${@}"" https://ttm.sh;
}
# transfer files via syncthing
ltransfer() {
	cp "$@" ~/Sync;
}
# get weather; takes in location
get_weather() {
    curl wttr.in/"$@";
}