[Unit]
Description=Post-install configuration run on first boot
[Service]
Type=simple
ExecStart=/usr/local/bin/post_install.sh
[Install]
WantedBy=multi-user.target