[Unit]
Description=Post installation configuration run on first boot
[Service]
Type=simple
ExecStart=~/.config/startup/post_install.sh
[Install]
WantedBy=multi-user.target